<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <add key="signatureValidationMode" value="accept" />
  </solution>
  <packageSources>
    <!-- Clear any previous package sources for a clean slate -->
    <clear />

    <!-- Standard NuGet source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!-- Azure DevOps package sources for .NET Core and tools -->
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />

    <!-- Powershell package source -->
    <add key="PSGallery" value="https://www.powershellgallery.com/api/v2/" />
  </packageSources>
</configuration>

