[Desktop Entry]
Type=Application
Name=Carbon Panel Transparency
Comment=Enable transparent panel
Exec=bash /home/carbon/.config/cinnamon/panel-transparency.sh
Icon=preferences-desktop-theme
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
